<% provide(:title,  t(".head")) %>
<h1><%= t ".titlehead" %></h1>
<p>
  <%= t ".the"%><a href="http://www.railstutorial.org/"><em><%= t "static_pages.help.content4" %></em></a><%= t ".is"%>
  <a href="http://www.railstutorial.org/book"><%= t ".book" %></a> <%= t ".end" %>
  <a href="http://screencasts.railstutorial.org/"><%= t ".content" %></a>
  <%= t ".content1" %>
  <a href="http://rubyonrails.org/"><%= t ".content2" %></a>.
  <%= t ".content3" %>
</p>
