<% provide(:title, t(".head")) %>
<h1><%= t ".titlehead"%></h1>
<p>
  <%= t ".content1" %>
  <a href="http://www.railstutorial.org/help"><%= t ".content2" %></a>.
  <%= t ".content3" %>
  <a href="http://www.railstutorial.org/book"><em><%= t ".content4" %></em>
  book</a>.
</p>
