<footer class="footer" >
  <small>
    <%= t ".content3" %><a href="http://www.railstutorial.org/" ><%= t ".content" %></a>
    <%= t ".content4" %><a href="http://www.michaelhartl.com/" ><%= t ".content2" %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to (t "static_pages.about.head" ), about_path %></li>
      <li><%= link_to (t "static_pages.contact.head" ), contact_path %></li>
      <li><a href="http://news.railstutorial.org/" ><%= t ".content3" %></a></li>
    </ul>
  </nav>
</footer>
